.button-container {
    width: fit-content;
    background-color: var(--white);
    color: var(--black);
    font-size: 0.85rem;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2rem;
    padding: 0.55rem 0.95rem;
    transition: all 0.1s ease-in-out;

    &:hover {
        transform: scale(1.02);
    }

    &.big {
        font-size: 0.95rem;
        padding: 1rem 2rem;

        &:hover {
            transform: scale(1.03);
        }
    }

    &.no-padding {
        font-size: 0.95rem;
        padding: 0;
        background-color: transparent;
        color: var(--grey-2);
        border-radius: 0;
        height: fit-content;

        &:hover {
            color: var(--white);
        }
    }

    &.no-padding-small {
        font-size: 0.85rem;
        padding: 0;
        background-color: transparent;
        color: var(--grey-2);
        border-radius: 0;
        height: fit-content;

        &:hover {
            color: var(--white);
        }
    }
}
