.main-container {
    color: white;
    background-color: var(--grey-1);
    border-radius: 0.5rem;
    width: calc(100% - 347.75px - 0.5rem);
    max-height: 100%;
    overflow-y: scroll;

    .hint-text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        h1 {
            font-size: 2.5rem;
            color: var(--white);
        }

        p {
            font-size: 0.95rem;
            color: var(--grey-2);
        }
    }

    .playlists-list {
        margin-top: 4.75rem;
        padding: 0 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}
