.main-navbar {
    padding: 0.5rem 1.15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(5, 5, 5, 0.5);
    position: fixed;
    width: calc(100% - 347.75px - 2rem);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    .navigation-buttons-container {
        display: flex;
        gap: 0.5rem;

        .navigation-button {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: var(--grey-1);
            color: var(--grey-2);
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .MuiSvgIcon-root {
                font-size: 1.5rem;
            }

            &:hover {
                color: white;
                background-color: var(--hover-grey);
            }
        }
    }

    .auth-buttons {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}