@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --grey-1: #121212;
    --grey-2: #ABABAB;
    --grey-3: #232323;
    --grey-4: #676767;
    --grey-5: #454545;
    --hover-grey: #232323;
    --black: #000;

    --facebook-blue: #4267B2;
    --spotify-green-1: #1DB954;
    --spotify-green-2: #1ed760;

    --gradient-bg-fallback: rgb(199,0,181);
    --gradient-bg: linear-gradient(90deg, rgba(199,0,181,1) 0%, rgba(41,200,255,1) 100%);

    --gradient-bg-fallback-black: rgb(10,10,10);
    --gradient-bg-black: linear-gradient(180deg, rgba(10,10,10,1) 0%, rgba(27,27,27,1) 100%);
}

html {
    font-size: 16px;

    body {
        max-width: 100vw;
        max-height: 100vh;
        background-color: var(--black);
        font-family: 'Montserrat', sans-serif;
    
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
