.track-bar-container {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;

    &.inactive {
        opacity: 0.3;
        pointer-events: none;
    }

    .count {
        width: 5%;
        padding: 0.5rem 0;
        text-align: center;
        color: var(--grey-2);

        h1 {
            font-size: 0.95rem;
            font-weight: 500;
        }

        .MuiSvgIcon-root {
            font-size: 1.35rem;
            display: none;
            color: var(--grey-2);

            &:hover {
                color: var(--white);
            }
        }
    }

    .track-info {
        width: 40%;
        padding: 0.5rem 0;
        display: flex;
        gap: 1rem;

        .track-image {
            width: 2.5rem;
            line-height: 0;

            img {
                width: 100%;
                height: auto;
            }
        }

        .track-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: calc(100% - 2.5rem - 2rem);

            h1 {
                font-size: 0.9rem;
                font-weight: 500;
                width: fit-content;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            p {
                font-size: 0.85rem;
                font-weight: 500;
                color: var(--grey-2);
                width: fit-content;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    .album-title {
        width: 30%;
        font-size: 0.85rem;
        font-weight: 500;
        padding: 0.5rem 0;
        color: var(--grey-2);

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .date {
        width: 18%;
        font-size: 0.85rem;
        font-weight: 500;
        padding: 0.5rem 0;
        color: var(--grey-2);
    }

    .duration {
        width: 7%;
        padding: 0.5rem 0;
        font-size: 0.85rem;
        color: var(--grey-2);
        cursor: default;
    }

    &:hover {
        background-color: var(--hover-grey);

        .count {
            h1 {
                display: none;
            }

            .MuiSvgIcon-root {
                display: inline;
            }
        }
    }
}
