.player-container {
    height: calc(13% - 0.5rem);
    padding: 0.75rem 1rem;
    color: var(--white);
    display: flex;
    align-items: center;

    .track-details {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 30%;

        .track-image {
            width: 3.25rem;
            line-height: 0;

            img {
                border-radius: 0.25rem;
                width: 100%;
                height: auto;
            }
        }

        .track-title-and-artists {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            .track-title {
                font-size: 0.9rem;
                font-weight: 500;
            }

            .track-artists {
                font-size: 0.65rem;
                font-weight: 500;
                color: var(--grey-2);
            }
        }
    }

    .track-controls-container {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .track-controls {
            display: flex;
            align-items: center;
            gap: 1rem;

            .prev-icon {
                .MuiSvgIcon-root {
                    font-size: 1.8rem;
                    color: var(--grey-2);

                    &:hover {
                        color: var(--white);
                    }
                }
            }

            .play-pause-icons {
                border-radius: 50%;
                width: 2rem;
                height: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;

                .MuiSvgIcon-root {
                    font-size: 2.4rem;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }

            .next-icon {
                .MuiSvgIcon-root {
                    font-size: 1.8rem;
                    color: var(--grey-2);

                    &:hover {
                        color: var(--white);
                    }
                }
            }
        }
    }

    .track-volume-controls {
        width: 30%;

        .volume-controls {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .volume-icon {
                .MuiSvgIcon-root {
                    font-size: 1.25rem;
                    color: var(--grey-2);

                    &:hover {
                        color: var(--white);
                    }
                }
            }

            .volume-progress-bar {
                width: 25%;
                height: 4px;
                background-color: var(--grey-2);
                position: relative;
                border-radius: 0.125rem;

                .volume-progress {
                    position: absolute;
                    height: 100%;
                    background-color: var(--white);
                    border-radius: 0.125rem;

                    .volume-progress-bar-thumb {
                        position: absolute;
                        width: 0.85rem;
                        height: 0.85rem;
                        border-radius: 50%;
                        background-color: var(--white);;
                        top: -0.3rem;
                        right: -0.4rem;
                        visibility: hidden;
                    }
                }

                &:hover {
                    .volume-progress {
                        background-color: var(--spotify-green-1);
                    }

                    .volume-progress-bar-thumb {
                        visibility: visible;
                    }
                }
            }
        }
    }
}
