.player-container {
    height: calc(13% - 0.5rem);
    padding: 0.75rem 1rem;
    color: var(--white);
    display: flex;
    align-items: center;

    .track-details {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 30%;

        .track-image {
            width: 3.25rem;
            line-height: 0;

            img {
                border-radius: 0.25rem;
                width: 100%;
                height: auto;
            }
        }

        .track-title-and-artists {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            width: calc(100% - 4.25rem);

            .track-title {
                font-size: 0.9rem;
                font-weight: 500;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .track-artists {
                font-size: 0.65rem;
                font-weight: 500;
                color: var(--grey-2);
            }
        }
    }

    .track-controls-container {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .track-controls {
            display: flex;
            align-items: center;
            gap: 1rem;

            .prev-icon {
                .MuiSvgIcon-root {
                    font-size: 2rem;
                    color: var(--grey-2);

                    &:hover {
                        color: var(--white);
                    }
                }
            }

            .play-pause-icons {
                border-radius: 50%;
                width: 2rem;
                height: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;

                .MuiSvgIcon-root {
                    font-size: 3rem;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }

            .next-icon {
                .MuiSvgIcon-root {
                    font-size: 2rem;
                    color: var(--grey-2);

                    &:hover {
                        color: var(--white);
                    }
                }
            }
        }
    }

    .track-volume-controls {
        width: 30%;

        .volume-controls {
            display: flex;
            align-items: center;
            gap: 1rem;

            .volume-icon {
                line-height: 0;
                margin-left: auto;

                .MuiSvgIcon-root {
                    font-size: 1.65rem;
                    color: var(--grey-2);

                    &:hover {
                        color: var(--white);
                    }
                }
            }
        }
    }
}
